.body {
    background-color: rgb(0, 0, 0);
    border-width: 0cap;


}
.foot {
     color: rgb(243, 242, 242);
    border-color: black;
    width: auto;
    text-align: center;
    margin:auto;
    background-image:url("/images/footerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);

}
.HEADER {
    font-style: normal;
    color: rgb(244, 248, 244);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 30px;

}

.main { color: #fff;
    

}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
}

.tom {
    text-align: center;
    text-decoration: double;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navigation li {
    margin-right: 40px;
    margin-left: 10px;
}

.navigation li:last-child {
    margin-right: 900px;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
    margin-left: 10px; 
    left: 0%;
    top: 50%;
    text-align: right;

}

.navigation li a:hover {
    background-color: #555;
}
#mainimage {
width: 40px;
height: 150px;
margin-right: 40px;
}

.top {
    text-align: center;
}

#joy {
    width: 200px;
}

/* #buisnesslogo {
} */
#buisnesslogo {
    
    width: 50px;
    height: 50px;

}